.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(37,156,224,1);
    color: white;
    text-align: center;
  }

  .index-menu-element:hover {
    background-color: rgba(37,156,224,1);
    cursor: pointer;
  }