.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(37,156,224,1);
    color: white;
    text-align: center;
  }

.index-menu-element:hover {
    background-color: rgba(37,156,224,1);
    cursor: pointer;
  }

.metronome {
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(37,156,224,1);
  border-radius: 0.5em;
  padding: 10px;

  max-width: 100%;


}

.bpm {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  padding: 20px;
}

.takt {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.volume {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  padding: 20px;
}

#playbutton {
  margin: 20px;
}

.notebuttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}

.notebutton {
  align-self: auto;
  flex-grow: 1;
}

.tapTempoButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}