{% extends "layout.html" %}

{% block title %}
    CS50 Music Tools
{% endblock %}

{% block main %}

    <div class="card-group shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <div class="card index-menu-element" onclick="window.location.href='/metronome';"> <!--onclick Link-->
          <img src="../static/metronome_test.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Metronome</h5>
            <p class="card-text">Dial in your desired BPM (Beats per Minute), choose a time signature and play along.</p>
            <p class="card-text"><small class="text-body-secondary"></small></p>
          </div>
        </div>
        <div class="card index-menu-element" onclick="window.location.href='/tap-tempo';"> <!--onclick Link-->
          <img src="../static/tap_tempo_v01.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Tap tempo</h5>
            <p class="card-text">Tap to the beat of a song and you will get its BPM.</p>
            <p class="card-text"><small class="text-body-secondary">Feature is not available yet</small></p>
          </div>
        </div>
        <div class="card index-menu-element" onclick="window.location.href='/tuner';"> <!--onclick Link-->
          <img src="../static/tuner_v01.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Tuner</h5>
            <p class="card-text">Strum the individual notes on your guitar and tune it by ear with the reference audio files. </p>
            <p class="card-text"><small class="text-body-secondary"></small></p>
          </div>
        </div>
      </div>

{% endblock %}