{% extends "layout.html" %}

{% block title %}
    CS50 Music Tools
{% endblock %}

{% block main %}

    <div class="card-group shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <div class="card index-menu-element" onclick="window.location.href='/metronome';"> <!--onclick Link-->
          <img src="../static/metronome_test.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Metronome</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card index-menu-element" onclick="window.location.href='/tap-tempo';"> <!--onclick Link-->
          <img src="../static/tap_tempo_v01.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Tap tempo</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card index-menu-element" onclick="window.location.href='/tuner';"> <!--onclick Link-->
          <img src="../static/tuner_v01.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Tuner</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>

{% endblock %}