{% extends "layout.html" %}

{% block title %}
    Metronome
{% endblock %}

{% block main %}
<h1>Metronome</h1>

<!-- HTML part -->

<div class="metronome">
    <div class="bpm">
        <input autocomplete="off" autofocus name="bpm" id="bpm" min="40" max="250" type="number" value="100">
        <label for="bpm">BPM</label>
    </div>

    <div class="takt">
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" value="2">
                <label class="btn btn-outline-primary" for="btnradio1">2/4</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" value="3">
                <label class="btn btn-outline-primary" for="btnradio2">3/4</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" value ="4" checked>
                <label class="btn btn-outline-primary" for="btnradio3">4/4</label>
        </div>
    </div>

    <div class="volume">
        <input type="range" id="volume" name="volume"
               min="0" max="50" value="25">
        <label for="volume">Volume</label>
    </div>

    <div class="playbutton">
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" id="playbutton" type="button">Play</button>
        </div>
    </div>
</div>

<!-- JS part -->

<script>
    const audioCtx = new AudioContext();
    let tempo = 100.0;
    let maxBeats = 4;

    const lookahead = 25.0; // How frequently to call scheduling function (in milliseconds)
    const scheduleAheadTime = 0.1; // How far ahead to schedule audio (sec)
    let currentNote = 0;
    let nextNoteTime = 0.0; // when the next note is due.


    //Eventlistener for BPM Changes
    document.getElementById("bpm").addEventListener(
        "change",
        (ev) => {
            tempo = document.getElementById("bpm").value;
            console.log(tempo)
            },
            false
        )

    //Eventlistener for Radiobuttons Measure changes
    let radioBtns = document.querySelectorAll("input[name='btnradio']");

    let findSelected = () => {
        maxBeats = document.querySelector("input[name='btnradio']:checked").value;
        console.log(maxBeats)
    }

    radioBtns.forEach(radioBtn => {
        radioBtn.addEventListener(
            "change",
            findSelected
        );
    });


    //create gain control node and connect it to audio destination
    //get user input from volume control and pass it to gain
    const primaryGainControl = audioCtx.createGain()
    let userVolume = document.getElementById("volume").value * 0.01;

    //setting initial gain value
    primaryGainControl.gain.setValueAtTime(userVolume, 0);

    //update gain on user input
    document.getElementById("volume").addEventListener(
        "input",
        (ev) => {
            let newVolume = document.getElementById("volume").value;
            userVolume = newVolume * 0.01;
            primaryGainControl.gain.setValueAtTime(userVolume, 0);
        },
        false
    );


    let clickHz = 440;
    let firstClickHz = 880;
    const pulseTime = 0.1;

    function playFirstClick(time) {
        const osc = new OscillatorNode(audioCtx, {
            type: "sine",
            frequency: firstClickHz,
        });

        osc.connect(primaryGainControl).connect(audioCtx.destination);
        osc.start(time);
        osc.stop(time + pulseTime);
    }

    function playClick(time) {
        const osc = new OscillatorNode(audioCtx, {
            type: "sine",
            frequency: clickHz,
        });

        osc.connect(primaryGainControl).connect(audioCtx.destination);
        osc.start(time);
        osc.stop(time + pulseTime);
    }

    function nextNote() {
        const secondsPerBeat = 60.0 / tempo;

        nextNoteTime += secondsPerBeat; // Add beat length to last beat time

        // Advance the beat number, wrap to zero when reaching 4
        currentNote = (currentNote + 1) % maxBeats;
    }

    const notesInQueue = [];

    function scheduleNote(beatNumber, time) {
    // Push the note on the queue, even if we're not playing.
    notesInQueue.push({ note: beatNumber, time });

    if (beatNumber == 0) {
        playFirstClick(time);
    }
    if (beatNumber > 0) {
        playClick(time);
    }
    }

    let timerID;

    function scheduler() {
        // While there are notes that will need to play before the next interval,
        // schedule them and advance the pointer.
        while (nextNoteTime < audioCtx.currentTime + scheduleAheadTime) {
            scheduleNote(currentNote, nextNoteTime);
            nextNote();
        }
        timerID = setTimeout(scheduler, lookahead);
    }

    const playButton = document.getElementById("playbutton");
    let isPlaying = false;

    playButton.addEventListener("click", (ev) => {
        isPlaying = !isPlaying;

        if (isPlaying) {
        // Start playing

        // Check if context is in suspended state (autoplay policy)
        if (audioCtx.state === "suspended") {
            audioCtx.resume();
        }

        currentNote = 0;
        nextNoteTime = audioCtx.currentTime;
        scheduler(); // kick off scheduling
        ev.target.dataset.playing = "true";
        playButton.innerHTML = "Stop";
        } else {
        clearTimeout(timerID);
        ev.target.dataset.playing = "false";
        playButton.innerHTML = "Play";
        }
    });


</script>

{% endblock %}