{% extends "layout.html" %}

{% block title %}
    Metronome
{% endblock %}

{% block main %}
    <div>
        <input autocomplete="off" autofocus name="bpm" id="bpm" min="40" type="number" value="60">
        <label for="bpm">BPM</label>
    </div>
    

    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio1">2/4</label>
      
        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio2">3/4</label>
      
        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" checked>
        <label class="btn btn-outline-primary" for="btnradio3">4/4</label>
      </div>

      <div>
        <input type="range" id="volume" name="volume"
               min="0" max="11" value="1">
        <label for="volume">Volume</label>
      </div>

      <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" type="button">Play</button>
      </div>

      <script>
        const audioContext = new AudioContext();

        //create gain control node and connect it to audio destination
        //get user input from volume control and pass it to gain
        const primaryGainControl = audioContext.createGain()
        const userVolume = document.getElementById("volume").value * 0.01;
        /* TODO
        userVolume.addEventListener(
            "input",
            (ev) => {
                newVolume = parseInt(ev.target.value, 100);
                userVolume.value = newVolume * 0.01;
            },
            false
        ); */

        primaryGainControl.gain.setValueAtTime(userVolume, 0);
        primaryGainControl.connect(audioContext.destination)

        //create a button which triggers an oscillator
        const firstClickButton = document.createElement('button')
        firstClickButton.innerText = "First Click"
        firstClickButton.addEventListener("click", () => {
            const clickOscillator = audioContext.createOscillator()

            clickOscillator.frequency.setValueAtTime(800, 0)
            clickOscillator.connect(primaryGainControl)
            clickOscillator.start()
            clickOscillator.stop(audioContext.currentTime + 0.08)
        })

        document.body.appendChild(firstClickButton)

        //create a second button which triggers an oscillator
        const clickButton = document.createElement('button')
        clickButton.innerText = "Click"
        clickButton.addEventListener("click", () => {
            const clickOscillator = audioContext.createOscillator()

            clickOscillator.frequency.setValueAtTime(600, 0)
            clickOscillator.connect(primaryGainControl)
            clickOscillator.start()
            clickOscillator.stop(audioContext.currentTime + 0.08)
        })

        document.body.appendChild(clickButton)

      </script>

{% endblock %}