{% extends "layout.html" %}

{% block title %}
    Tuner
{% endblock %}

{% block main %}
    <h1>Tuner</h1>

    <p>For the moment you can playback every note and tune your guitar by ear. Maybe I will try to implement a more advanced tuner later.</p>
    <p>The sounds I use are from <a href="https://freesound.org/people/Kyster/packs/7397/" target="_blank">Freesound.org</a></p>
    <ul>https://freesound.org/people/Kyster/packs/7397/</ul>

    
    <button class="btn btn-primary" id="Dlow" type="button">low D</button>
    <button class="btn btn-primary" id="E" type="button">E</button>
    <button class="btn btn-primary" id="A" type="button">A</button>
    <button class="btn btn-primary" id="D" type="button">D</button>
    <button class="btn btn-primary" id="G" type="button">G</button>
    <button class="btn btn-primary" id="B" type="button">B</button>
    <button class="btn btn-primary" id="e" type="button">e</button>

    <script>
            const urlE = "https://cdn.freesound.org/previews/117/117677_646701-lq.mp3"
            const urlA = "https://cdn.freesound.org/previews/117/117673_646701-lq.mp3"
            const urlD = "https://cdn.freesound.org/previews/117/117676_646701-lq.mp3"
            const urlG = "https://cdn.freesound.org/previews/117/117678_646701-lq.mp3"
            const urlB = "https://cdn.freesound.org/previews/117/117674_646701-lq.mp3"
            const urle = "https://cdn.freesound.org/previews/117/117679_646701-lq.mp3"
            const urlDlow = "https://cdn.freesound.org/previews/117/117675_646701-lq.mp3"
            
            let ctx = null;
            let audio;
            let timeout;

            //create audio context and buffer audiofile
            async function createAudioContext(note){
                ctx = new AudioContext();

                fetch(note)
                    .then(data => data.arrayBuffer())
                    .then(arrayBuffer => ctx.decodeAudioData(arrayBuffer))
                    .then(decodedAudio => {
                        audio = decodedAudio;
                    });
            return 1;
            }

            //playback buffered audiofile
            function playback() {
                const playSound = ctx.createBufferSource();
                playSound.buffer = audio;
                playSound.connect(ctx.destination);
                playSound.start(ctx.currentTime);
            }

            //Eventlisteners for buttons calling createAudioContext() and then playback()
            //improvements to make -> get rid of the timeout function and use async function correctly

            document.getElementById("E").addEventListener("click", async () => {
                await createAudioContext(urlE);
                timeout = setTimeout(playback, 50);
            });

            document.getElementById("A").addEventListener("click", async () => {
                await createAudioContext(urlA);
                timeout = setTimeout(playback, 50);
            });

            document.getElementById("D").addEventListener("click", async () => {
                await createAudioContext(urlD);
                timeout = setTimeout(playback, 50);
            });

            document.getElementById("G").addEventListener("click", async () => {
                await createAudioContext(urlG);
                timeout = setTimeout(playback, 50);
            });

            document.getElementById("B").addEventListener("click", async () => {
                await createAudioContext(urlB);
                timeout = setTimeout(playback, 50);
            });

            document.getElementById("e").addEventListener("click", async () => {
                await createAudioContext(urle);
                timeout = setTimeout(playback, 50);
            });

            document.getElementById("Dlow").addEventListener("click", async () => {
                await createAudioContext(urlDlow);
                timeout = setTimeout(playback, 50);
            });

    </script>




{% endblock %}