{% extends "layout.html" %}

{% block title %}
    Tuner
{% endblock %}

{% block main %}
    <h1>Tuner</h1>

    <p>For the moment you can playback every note and tune your guitar by ear. The "low D" is for Drop D tuning. Maybe I will try to implement a more advanced tuner later.</p>
    <p>The sounds I use are from <a href="https://freesound.org/people/Kyster/packs/7397/" target="_blank">Freesound.org</a></p>

    
    <button class="btn btn-primary" id="Dlow" type="button">low D</button>
    <button class="btn btn-primary" id="E" type="button">E</button>
    <button class="btn btn-primary" id="A" type="button">A</button>
    <button class="btn btn-primary" id="D" type="button">D</button>
    <button class="btn btn-primary" id="G" type="button">G</button>
    <button class="btn btn-primary" id="B" type="button">B</button>
    <button class="btn btn-primary" id="e" type="button">e</button>

    <script>
            window.addEventListener("DOMContentLoaded", loadPage, false);
            
            let ctx = null;
            let audio;

            const notes = [{
                            name: "E",
                            link: "https://cdn.freesound.org/previews/117/117677_646701-lq.mp3"
                            },
                            {
                            name: "A",
                            link: "https://cdn.freesound.org/previews/117/117673_646701-lq.mp3"
                            },
                            {
                            name: "D",
                            link: "https://cdn.freesound.org/previews/117/117676_646701-lq.mp3"
                            },
                            {
                            name: "G",
                            link: "https://cdn.freesound.org/previews/117/117678_646701-lq.mp3"
                            },
                            {
                            name: "B",
                            link: "https://cdn.freesound.org/previews/117/117674_646701-lq.mp3"
                            },
                            {
                            name: "e",
                            link: "https://cdn.freesound.org/previews/117/117679_646701-lq.mp3"
                            },
                            {
                            name: "Dlow",
                            link: "https://cdn.freesound.org/previews/117/117675_646701-lq.mp3"
                            },
                        ];


            function loadPage() {
                ctx = new AudioContext();

                //buffer all audiofiles
                notes.forEach(function(note){
                    fetch(note.link)
                    .then(data => data.arrayBuffer())
                    .then(arrayBuffer => ctx.decodeAudioData(arrayBuffer))
                    .then(decodedAudio => {
                        note.name = decodedAudio;
                    });
                })
            }       

            //playback buffered audiofile
            function playback(note) {
                const playSound = ctx.createBufferSource();
                playSound.buffer = note;
                playSound.connect(ctx.destination);
                playSound.start(ctx.currentTime);
            }

            //create eventlistener for each button - calling the playback() function
            notes.forEach(function(note) {
                document.getElementById(note.name).addEventListener("click", async () => {
                    playback(note.name);
                });
            })
    </script>

{% endblock %}